extends ../layouts/main

block content 
    h1 Address Book

    h2 Saved Addresses
    include ../partials/addressbook/saved-addresses

    h2 Add New Address
    include ../partials/addressbook/new-address