<body>
    <h1>Address Book</h1>

    <h2>Saved Addresses</h2>
    <%- include('../partials/addressbook/saved-addresses') %>

        <h2>Add New Address</h2>
        <%- include('../partials/addressbook/new-address') %>
</body>