<body>
    <h1>User Page
    </h1>

    <h2>Name: <%= model.data.first_name %>
    </h2>
    <h2>Surname: <%= model.data.last_name %>
    </h2>
    <h2>Email: <%= model.data.email%>
    </h2>

    <a href="/user/addressbook">Address Book</a>
</body>