extends layouts/main 

block append head
    link(rel='stylesheet' href='/public/assets/styles/home-page.css' type='text/css')

block content 
    .home-page-content
        .sale-cta
            a(href='sale')
                image(src='/public/assets/images/sale-image.jpg')


