<html>

<head>

</head>

<body>
    <% const hierarchy=model.categoryHierarchy; %>
        <%- include ("partials/navbar", {hierarchy}) %>

            <a href="#sale">
                <img src="/public/assets/images/sale-image.jpg" />
            </a>

</body>

</html>