<% console.log(model); const product=model.data; %>

    <body>
        <link rel="stylesheet" href="/public/assets/styles/product-display.css" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arsenal&family=Quattrocento+Sans&display=swap"
            rel="stylesheet">

        <div class="product-display-container">
            <h1 class="product-name">
                <%= product.name %>
            </h1>

            <img class="hero-image" src="./../../../public/assets/images/<%= product.images[0] %>" />

            <h2 class="product-price">
                <%= formatCurrency(product.price, product.currencycode) %>
            </h2>

            <button class="basket-button">Add to Basket</button>

            <h2 class="product-description">
                <%= product.description %>
            </h2>
        </div>
        <div class="related-products-container">
            <h2>Related Products</h2>
        </div>
    </body>