<body>

    <h1 class="test">
        <%= product.name %>
    </h1>

    <img class="hero-image" src="./../../../public/assets/images/<%= product.images[0] %>" />

    <h2>
        <%= product.description %>
    </h2>

    <h2>
        <%= formatCurrency(product.price, product.currencycode) %>
    </h2>

</body>