form.new-address-form(method='POST' action='../api/user/addressbook')
  label(for='line-1') Line 1
  input(type='text' name='line-1')
  label(for='line-2') Line 2
  input(type='text' name='line-2')
  label(for='city') City
  input(type='text' name='city')
  label(for='postcode') Potcode
  input(type='text' name='postcode')
  label(for='country') Country
  input(type='text' name='country')
  input(type='submit')
