<form class="new-address-form" method="POST" action="../api/user/addressbook">
    <label for="line-1">Line 1</label>
    <input type="text" name="line-1">
    <label for="line-2">Line 2</label><input type="text" name="line-2">
    <label for="city">City</label><input type="text" name="city">
    <label for="postcode">Potcode</label><input type="text" name="postcode">
    <label for="country">Country</label><input type="text" name="country">
    <input type="submit">
</form>

<script>
    function submit() {

    }
</script>