html 
    block head 
        head
            meta(charset='utf-8')
            meta(name='viewport' content='width=device, initial-scale=1.0, maximum-scale=1.0')
            title Tech Warehouse
            link(rel="stylesheet" href="/public/assets/styles/navbar.css" type="text/css")
    body 
        include ../partials/navbar.pug
        block content