<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device, initial-scale=1.0, maximum-scale=1.0" />
    <title>Tech Warehouse</title>
    <link rel="stylesheet" href="/public/assets/styles/navbar.css" type="text/css" />
</head>

<body>
    <% const hierarchy=model.categoryHierarchy; %>
        <%- include ("../partials/navbar", {hierarchy}) %>
            <%- body %>
</body>

</html>