<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#men">Men</a>
    <a href="#women">Women</a>
    <a href="#boys">Boys</a>
    <a href="#girls">Grils</a>
    <a href="#sale">Sale</a>
    <input type="text" placeholder="Search...">
</div>