<div class="navbar">
    <a href="/">
        Home
    </a>

    <a href="/user/login">
        Login
    </a>

    <a href="/user/register">
        Register
    </a>

    <input type="text" placeholder="Search...">
</div>