<div class="navbar">
    <a class="active" href="/">Home</a>
    <% hierarchy.forEach(element=> { %>
        <%- getMenuSection(element); %>
            <% })%>

                <input type="text" placeholder="Search...">
                <a href="/user/login">
                    <p>Login</p>
                </a>

                <a href="/user/register">
                    <p>Register</p>
                </a>

</div>